.label
  font-family: "Poppins Medium", sans-serif
  width: 120px
  color: white
  
  display: flex
  justify-content: center
  
  border-radius: 20px
  
  &.blue
    background-color: #2d72f1
    
  &.green
    background-color: #51b955
    
  &.red
    background-color: #da5046