.relativeModal{
    box-shadow: 0 0 4px rgba(0,0,0, 0.3);
    position: relative;
    border-radius: 5px;
    background-color: white;
}

.trying{
    position: absolute;
    left: 0;
    background-color: white;
    padding: 5px;
}

/*.absolute{*/
/*    position:absolute;*/
/*}*/