.signIn {
    display: flex;
    flex-direction: column;
    height: 520px;
    width: 360px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    padding: 50px 35px;
}

.signIn-heading{
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 2rem;
}

.signIn > label{
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: 500;
}

.signIn > input {
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.signIn > input:hover{
    border: 1px solid #bdbdbda9;
}

.signIn > input:focus{
    outline: none;
    box-shadow: 0 0 0 1px lightskyblue;
}

.signIn > .btn {
    margin-top: 30px;
    height: 45px;
    
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.25;
}

.signIn > .error{
    margin-bottom: 0;
    margin-top: 6%;
    color: #dc3545;
    font-size: .9em;
    font-family: sans-serif;
    font-weight: 550;
}