.blueTable
  
  @mixin font
    font-family: "Poppins Medium", serif
    font-size: 14px
    letter-spacing: -0.5px
    color: #739cad
  
  $border: 1px solid #c1d8ea
  &.hard
    border: $border
  &.light
    grid-gap: 5px
  
  display: grid

  .row
    display: grid
    align-items: center
    transition: 150ms ease
    
    &.clickable
      cursor: pointer
      &:hover
        background-color: #e5e5e5
      
    &.light
      border: $border
    
    &.odd
      background-color: #f3f3f3
    
  .blueTableHeader //todo change it from cargo to smth else. its another component actually
    display: grid
    background-color: #cee1f2
    
    .item
      &.hard
        border: $border
      @include font
      text-transform: uppercase
  
      padding: 8px
      
      align-content: center
      
      display: flex
      justify-content: space-between

      .btIcon
        transform: scale(120%)
        position: relative
        top: 2px
        cursor: pointer
    
  .blFooter
    background-color: #cee1f2
    padding: 6px
    align-items: center
    @include font
    
    position: relative
    top: 1px
    
    display: flex
    justify-content: end
    gap: 30px
    
    .rowsPerPage
      display: flex
      gap: 10px
      align-items: center
      
      .blfSelectPicker
        //transform: scale(70%)
        
        display: flex
        gap: 8px
        cursor: pointer
        padding: 4px 7px
        
        //box-shadow: 0 0 3px rgba(99, 180, 253, 0.35)
        background-color: #daeaf5
        border-radius: 3px
        
        &:hover
          box-shadow: 0 0 3px #63b4fd
          transition: 300ms
          
        .blfSPItem
          //display: flex
          //justify-content: center
        
        .ninetyDegArrow
          transform: rotate(90deg)
          position: relative
          top: 4px
      
    .blfArrows
      display: flex
      gap: 15px
      .blfIcon
        transform: scale(110%)
        position: relative
        bottom: 1px
        cursor: pointer
        padding: 3px
        &.reversed
          transform: rotate(180deg) scale(110%)
        
        &:hover
          box-shadow: 0 0 3px #63b4fd
          border-radius: 3px
          transition: 300ms
      
  .blueTableHeader, .row //todo change it from cargo to smth else. its another component actually
    font-family: Poppins, sans-serif
    font-size: 15px
    
    &.light
      border-radius: 5px