.blueTable
  $border: 1px solid #c1d8ea
  border: $border
  
  display: grid

  .row
    display: grid
    align-items: center
    transition: 150ms ease
    
    &.clickable
      cursor: pointer
      
    //&.hard
      //border: $border
    
    &.odd
      background-color: #f3f3f3
    
  .header
    display: grid
    background-color: #cee1f2
    &.item
      border: $border
      
      font-family: "Poppins Medium", serif
      font-size: 14px
      letter-spacing: -0.5px
      color: #739cad
      text-transform: uppercase
  
      padding: 8px
      
      align-content: center