.main{
    padding-top: 5px;
    gap:5px;
    
    display: flex;
}

.privateRoute{
    background-color: #f7f7f7;
}

.innerContent{
    background-color: white;
    width: 100%;
    min-height: calc(100vh - 65px);
}

.innerContent, .sidebar{
    border-radius: 7px;
}

.innerContent, .sidebar, .navbar{
    border: #e8e8e8 1px solid;
    box-shadow: 0 0 3px 0 #c0c0c0;
}