.transitCargoRow
  padding: 8px
  &.actions
    display: flex
    gap: 5px
      
  button
    padding: 3px 10px
    .cancelIcon
      transform: scale(140%)
    svg
      transform: scale(120%)
        
  .trCargoTextarea
    resize: none
    outline: none
    overflow: hidden //IMPORTANT SHIT!!!!!!!!!!!!!!!!!!!!!!!
    white-space: break-spaces
    transition: unset !important
    display: flex
    width: 100%
  
  .deleteWarning
    padding: 5px 10px
    
    display: flex
    flex-direction: column
    gap: 10px
    
    .warningText
      color: black
      font: 15px "Poppins Medium"
    
    .warningCtrl
      z-index: 1
      display: flex
      justify-content: center
      gap: 5px