.bullet
  background: #fff
  border: 1.5pt solid #969696
  border-radius: 50%
  height: 0.7em
  width: 0.7em

.bullet_active
  background: #98de98
  border: 1.5pt solid #818181
.bulletMenu
  &:hover
    background: #dedede
  padding: 3px 6px 1px
  border-radius: 6px
  
.bulletRow
  display: flex
  gap: 4px

.bulletText
  color: black
  font-family: Lato,sans-serif
  font-weight: normal
  position: relative
  bottom: 3px