.bulletList
  padding: 5px

.bulletRow
  display: flex
  gap: 4px
  //border: black 1px solid
  
  padding: 1px 3px
  cursor: pointer
  border-radius: 5px
  
  //font-size: 20px
  font: 500 18px Poppins
  
  &:hover
    background-color: #dedede

.bullet
  background: #fff
  border: 1.5pt solid #969696
  border-radius: 50%
  height: 0.65em
  width: 0.65em
  
  //display: flex
  //align-items: center
  //align-content: center
  //align-self: center
  position: relative
  top: 5px
  

.bullet_active
  background: #4680ae
  border: 1.5pt solid #818181
.bulletMenu
  &:hover
    background: #dedede
  padding: 3px 6px 1px
  border-radius: 6px

.bulletText
  color: black
  //font-family: Lato,sans-serif
  //font-weight: normal
  position: relative
  bottom: 1px