.cargoRowItem > .col-input{
    width: 100%;
    white-space: break-spaces;
    resize: none;
    overflow:hidden;
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: 0.15pt;
}

.cargoHeader, .cargoRow {
    padding: 10px 25px;
    border-radius: 6px;
    align-items: center;

    display: grid;
    grid-template-columns: 5% repeat(3, minmax(5%, 15%)) repeat(2, 1fr) 10% max-content;;
    grid-gap: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

    word-breaK: break-word;
    font-family: Poppins, serif;
}

.cargoRowItem{
    font-size: 15px;
}

.cargoRowItem > .operationContainer{
    justify-content: space-between;
    width: 105%;
}

.cargoRowItem > .dpContainer{
    margin-left: -5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}