.trCargoControls
    display: flex
    justify-content: space-between
    transition: 350ms
    
    &.def
        padding-bottom: 10px
    
    &.block
        padding-block: 10px 15px
        
.trCargoGridTemplate
    grid-template-columns: repeat(3, 1fr) 120px