.trCargoControls
    display: flex
    justify-content: space-between
    transition: 350ms
    
    &.def
        padding-bottom: 10px
    
    &.block
        padding-block: 10px 15px
        
.trCargoGridTemplate
    grid-template-columns: repeat(3, 1fr) 120px
    
.cargoToAttachList
    //font-size: 17px
    font: 18px "Roboto Condensed", serif
    
    width: 150px
    max-height: 162px
    overflow: auto
    
    padding: 5px 7px
    
    display: flex
    flex-direction: column
    gap: 3px
    
    .cargoToAttachItem
        box-shadow: 0 0 3px 0 #343434
        //border: black 1px solid
        border-radius: 3px
        padding: 2px 4px