.dpHeader
  display: flex
  flex-direction: row
  gap: 5px
  justify-content: space-between
  align-content: space-between
  
  .dpArrows
    display: flex
    gap: 5px

.dpIcon
  cursor: pointer
  
  transform: scale(140%)
  
  &.double
    position: relative
    &.left
      left: 4px
    &.right
      right: 4px