.dpHeader
  display: flex
  flex-direction: row
  gap: 5px
  justify-content: space-between
  align-content: space-between
  
  //padding-top: 5px
  padding-bottom: 5px
  //padding: 5px 0 10px
  
  .monthAndYear
    font-size: 15px
    display: flex
    align-self: center
    //width: 100%
    //width: min-content
    //position: relative
    //bottom: 1px
  
  .dpArrows
    display: flex
    gap: 5px

.dpArrows
  .iconObject
    padding: 5px
    cursor: pointer
    border-radius: 2px
    
    //height: 15px
    &:hover
      background-color: #eaeaea
  
  .dpIcon
    position: relative
    top: 1px
  
    transform: scale(140%)
  
    &.double
      position: relative
      &.left
        left: 4px
      &.right
        right: 4px