.cargoGrid{
    padding-top: 25px;
    padding-inline: 5vw;
    
    display: grid;
    grid-gap: 15px;
}

.gridRow{
    
    padding: 10px 25px;
    border-radius: 6px;
    align-items: center;
    
    display: grid;
    grid-template-columns: 5% repeat(6, minmax(min-content, 1fr));
    /*grid-auto-columns: minmax(10px, 150px);*/
    /*display: flex;*/
    /*flex-direction: row;*/
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}

.gridItem{
    /*width: 0;*/
}

.item_0{
    width: 50px;
    border: 1px solid black;
}

/*.item_1{*/
/*    width: 150px;*/
/*}*/