.cargoGrid{
    padding-top: 25px;
    padding-inline: 5vw;
    
    display: grid;
    grid-gap: 15px;
}

.cargoHeader{
    background-color: var(--color-green);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: white;
}

.cargoGrid > .driversGridOperations{
    margin-bottom: 0;
}