.selectPicker{
    /*background-color: rgb(255, 255, 255);*/
    /*border: 1px solid rgba(0,0,0,0.1);*/
    /*border-radius: 5px;*/
    
    /*padding: 0 10px;*/

    padding: 0 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.selectPickerStyle{
    /*background-color: rgb(255, 255, 255);*/
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;

    /*padding: 0 10px;*/
}

.selectPickerContent{
    position: relative;
    bottom: 1px;
    align-self: center;
    cursor: default;
    
    font: 15px Lato, serif;
}

.separator{
    transform: rotate(90deg) scaleX(150%) scaleY(40%);
    color: rgba(79, 79, 79, 0.4);
    margin-inline: -5px;
}

.darkArr{
    color: rgb(63, 63, 63);
}

.brightArr{
    color: rgb(168, 168, 168);
}

.spArrow{
    position: relative;
    top: 5px;
    left: 1px;
    transform: scale(85%);

    transition: 100ms;
}

.spControls{
    display: flex;
}