.devContainer{
    display: flex;
}

.selectPicker{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;

    padding: 8px 12px;

    display: flex;
}

.selectPickerContent{
    cursor:default;
    position: relative;
}

.separator{
    transform: rotate(90deg) scaleX(200%) scaleY(40%);
    color: rgba(0,0,0,0.4)
}

.closingElement{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
}