.selectPicker

  padding: 0 10px
  background-color: rgb(255, 255, 255)
  border-radius: 5px
  display: flex
  justify-content: space-between
  cursor: pointer
  border: 1px solid rgba(0,0,0,0.1)
  font: 15px Lato, serif
  
  &.readonly
    cursor: default
    
  .content
    position: relative
    bottom: 1px
    align-self: center

    .spItem
      padding: 5px 10px
      &:first-child
        border-radius: 5px 5px 0 0
      &:last-child
        border-radius: 0 0 5px 5px
      &:hover
        background-color: whitesmoke
    
  .controls
    font: 25px "Poppins Medium", serif
    display: flex
    .separator
      transform: rotate(90deg) scaleX(150%) scaleY(40%)
      color: rgba(79, 79, 79, 0.4)
      margin-inline: -5px

    .arrow 
      position: relative
      top: 5px
      left: 1px
      transform: scale(85%) //font-size affects on it
  
      transition: 100ms
      &.dark
        color: rgb(63, 63, 63)
      &.bright
        color: rgb(168, 168, 168)

.spItem
  padding: 5px 10px
  &:first-child
    border-radius: 5px 5px 0 0
  &:last-child
    border-radius: 0 0 5px 5px
  &:hover
    background-color: whitesmoke
  