.navbar > ul {
    background-color: #f5f5f5;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.164);
    display: flex;
    padding: 15px 25px;
    justify-content: space-between;
}

.navlink {
    padding-inline: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.sidebarIcon{
    transform: scale(100%);
    position: relative;
    top:1px;
}

.sidebarButton:hover{
    background-color: #d3d3d3;
}

.sidebarButton{
    transform: scale(160%);
    border: none;
    background: none;
    border-radius: 1px;
    transition: 0.4s ease;
}