.sidebar {
    min-width: 150px;
    width: 14%;
    position: sticky;
    top: 5px;
    height: min-content;
}

.sidebar-active {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.164);
    transition: 350ms;
}

.sbContent{
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sbClose{
    cursor: pointer;
    align-self: end;
    
    border: none;
    background-color: var(--color-green);
    width: min-content;
    padding: 5px 10px;
    
    border-radius: 3px;
}

.sbCloseIcon{
    color: white;
    transform: scale(150%);
    
    position: relative;
    top: 1px;
}