.attachItemList

  display: grid
  gap: 5px

  .attachRow
    display: grid
    grid-template-columns: 60px 1fr 1fr

    .attachElement

      display: grid
      grid-template-columns: 1fr 1fr

      $border: 1px solid rgba(0, 0, 0, 0.1)

      &:first-child
        .tcal-name
          border-radius: 5px 0 0 5px

      &:last-child
        .tcal-expression
          border-radius: 0 5px 5px 0

      .tcal-item
        border: $border
        padding: 5px

        &.tcal-name

        &.tcal-expression
          background-color: #e9ecef