.btn {
  display: inline-block;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all .15s ease-in-out;
  color: #fff;
}

.edit-btn:hover {
  background-color: #0069d9;
}

.btn:active {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.edit-btn {
  background: #007bff;
}

.delete-btn {
  background: #d74646;
}
