:root{
  --color-green: #55be92;
  --box-shadow: 0 0 4px 0 var(--color-green);
  --border:1px solid var(--color-green);
}

.btn {
  display: inline-block;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all .05s ease-in-out;
  color: #fff;
}

.btn:active {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.edit-btn {
  background: #007bff;
}

.delete-btn {
  background: #d74646;
}

.edit-btn:hover {
  background-color: #0069d9;
}

.delete-btn:hover{
  background: #c54141;
}

.apply-btn{
  background: #54bc91;
}

.apply-btn:hover{
  background: #4ca882;
}
