.datepicker{
    box-shadow: 0 0 4px rgba(0,0,0, 0.3);
    position: absolute;
    top: 30px;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}

.datepicker header {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.datepicker table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.datepicker th {
    vertical-align: middle;
    text-align: center;
}

.datepicker .day {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
}

.datepicker .aesthetics{
    opacity: .3;
    cursor: default;
}

.datepicker .practice:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.datepicker .day.selected {
    border: 2px solid dodgerblue;
}

.datepicker .day.today {
    background-color: dodgerblue;
    color: white;
}

.datepicker .day.today:hover {
    background-color: #0081ff;
}

.datepicker .day.today.selected {
    border: 2px solid lightgray;
}

.datepicker .weekends {
    color: #e80000;
}

.dpBtn, .dpSelect, .dpInput {
  /*height: 2em;*/
  font-size: 1rem;
  background-color: #fff;
  color: #363636;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(95%);
}

.dpBtn:focus, .dpSelect:focus {
  outline: none;
}

.dpBtn, .dpInput {
  /*display: inline-flex;*/
  justify-content: center;
  /*align-items: center;*/
  padding: .2em .7em;
  text-align: center;
}

.datepicker > header > select {
  padding: .2em .4em;
}