/*.datepicker-input {*/
/*    cursor: pointer;*/
/*    box-sizing: border-box;*/
/*}*/

/*.dpInput::-webkit-calendar-picker-indicator {*/
/*    !*position: absolute;*!*/
/*    !*top: 3px;*!*/
/*    !*right: 0;*!*/
/*    !*color: black;*!*/
/*    !*opacity: 1;*!*/
/*    display: none;*/
/*    text-align: center;*/
/*}*/

.dpInput:focus {
    outline: none;
}

.dpInput{
    /*-webkit-touch-callout: none; !* iOS Safari *!*/
    /*-webkit-user-select: none; !* Safari *!*/
    /*-khtml-user-select: none; !* Konqueror HTML *!*/
    /*-moz-user-select: none; !* Old versions of Firefox *!*/
    /*-ms-user-select: none; !* Internet Explorer/Edge *!*/
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    /*pointer-events: none;*/
    
    padding: 3px 8px;
    font-family: Tahoma, sans-serif;
}

.special {
    /*margin: 0;*/
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.dpContainer{
    display: flex;
    justify-content: center;
    /*margin-right: -500px;*/
    
}
.menu{
    box-shadow: 0 0 4px rgba(0,0,0, 0.3);
    position: absolute;
    top: 30px;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}
