.datepicker{
    box-shadow: 0 0 4px rgba(0,0,0, 0.3);
    position: absolute;
    top: 30px;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    z-index: 1;
    /*padding: 5px*/
}

.datepicker header {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.datepicker table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.datepicker > header > select {
  padding: .2em .4em;
}

.dpSeparator{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em;
    padding: 0;
}