.operationContainer{
    display: flex;
}

.operation {
    padding: 2px 12px;
    background: none;
    border: 1px solid #6C7A89; /*todo choose color*/
    border-radius: 3px;
    transition: 180ms;
}

.operation:hover{
    box-shadow: var(--box-shadow);
}

.operation:active{
    background: none;
    transform: scale(calc(100% + 15%));
}

.operation > *{
    transform: scale(120%);
}

.deleteOperations{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.deleteOperations > * {
    padding: 3px 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: unset;
}