.transitContainer{
    padding: 15px;
}

.transitGridTemplate{
    grid-template-columns: 5% repeat(6, 1fr)
}

.transitHeaderItem{
    font-family: "Poppins Medium", serif;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #739cad;
    text-transform: uppercase;

    border: 1px solid #c1d8ea;
    padding: 8px;

    background-color: #cee1f2;
}

.elementTitle{
    color: #c0c0c0;
    font: 25px "Poppins Medium", serif;
}

.elementHeader{
    display: flex;
    padding-bottom: 10px;
    
    justify-content: space-between;
}