.transitContainer
  padding: 15px
  
  color: #505050
  font-family: "Poppins Medium", serif
  
  .title
    font-size: 25px
    &.light
      color: #c0c0c0
    
  .transitHeader
    display: flex
    padding-bottom: 10px

    justify-content: space-between
    
.transitGridTemplate
  grid-template-columns: minmax(50px, 70px) repeat(4, minmax(130px, 1fr)) minmax(170px, 1fr) minmax(130px, 1fr)


.deleteWarning
  padding: 5px 10px

  display: flex
  flex-direction: column
  gap: 10px

  .warningText
    color: black
    font: 15px "Poppins Medium"

  .warningCtrl
    z-index: 1
    display: flex
    justify-content: center
    gap: 5px
    
.addTransitModal
  padding: 5px
  display: flex
  flex-direction: column
  gap: 5px
  .controls
    display: flex
    justify-content: center
    gap: 5px
      
@mixin btnAndIcons
  button
    padding: 3px 10px
    .cancelIcon
      transform: scale(140%)
    svg
      transform: scale(120%)