.transitContainer
  padding: 15px
  
  color: #505050
  font-family: "Poppins Medium", serif
  
  .title
    font-size: 25px
    &.light
      color: #c0c0c0
    
  .transitHeader
    display: flex
    padding-bottom: 10px

    justify-content: space-between
    
.transitGridTemplate
  grid-template-columns: 5% repeat(6, 1fr)