.transitRow{
    cursor: pointer;
    transition: 150ms ease;
}

.odd{
    background-color: #f3f3f3;
}

.transitRow:hover{
    background-color: #e5e5e5;
}

.transitRowItem{
    padding: 8px;
}

.transitRowItem > .dpContainer {
    margin-left: -6px;
}